mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

.menu-item {
  font-size: 16px !important;
  text-decoration: none;
  color: inherit;
}

.desktop-menu {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.app-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

/* MOBILE */
@media (max-width: 768px) {

  .desktop-menu {
    display: none;
  }

  .app-title {
    margin-right: 0;
    font-size: 16px;
  }

}
