<div
  class=""
  (swipeleft)="nextPart()"
  (swiperight)="prevPart()">
  <div class="grid lg-grid-cols-3 gap-3">

		<mat-card class="col-span-1 lg-col-span-2">
			<div class="song-header">

				<button mat-icon-button (click)="prevPart()">
					<mat-icon>chevron_left</mat-icon>
				</button>

				<h2>{{ song.parts[currentIndex]?.label() }}</h2>

				<button mat-icon-button (click)="nextPart()">
					<mat-icon>chevron_right</mat-icon>
				</button>

			</div>

			@for (i of [currentIndex]; track i) {

        @if (song.parts[i]) {
          <div class="song-body">
            <div class="preview">
              <app-part-preview [part]="song.parts[i]" [showTitle]="false"></app-part-preview>
            </div>
          </div>

          @if (i === currentIndex) {
            <hr>
          }
        }

      }

		</mat-card>
		<mat-card class="col-span-1 flex flex-col items-center">
      <div>
        <div class="grid grid-cols-3 gap-2" style="margin-bottom: 20px; width: 200px;">
          <button mat-raised-button (click)="song.transpose(-1)">-</button>
					<button mat-raised-button disabled="">{{song.key}}</button>
					<button mat-raised-button (click)="song.transpose(1)">+</button>
				</div>
			</div>
      <div class="song-controls hidden grid grid-cols-3 gap-3">

        @for (part of song.parts; track $index) {
          <button
            mat-stroked-button
            (click)="selectPart($index)"
            [class.active]="$index === currentIndex">

            {{ part.label() }}

          </button>
        }

      </div>
		</mat-card>
  </div>
</div>
