.song-header{
  display:flex;
  align-items:center;
  gap:20px;
}

.song-controls button.active{
  background:#ffd54f;
  color:black;
  font-weight:bold;
}

.preview{
  font-family: monospace;
  white-space: pre;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
