<div class="page">

  <div>
    <div class="transpose-controls" style="margin-bottom: 20px;">

      <button mat-raised-button (click)="song.transpose(-1)">-</button>

      <span>Key: {{song.key}}</span>

      <button mat-raised-button (click)="song.transpose(1)">+</button>

    </div>
  </div>

  <div class="song-header">

    <button mat-icon-button (click)="prevPart()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <h2>{{ song.parts[currentIndex]?.name }}</h2>

    <button mat-icon-button (click)="nextPart()">
      <mat-icon>chevron_right</mat-icon>
    </button>

  </div>

  <div class="song-body">

    <div class="song-content">

      @for (line of song.parts[currentIndex]?.lines; track $index) {

        <div class="line">
          <div class="chords">{{ line.chords }}</div>
          <div class="lyrics">{{ line.lyric }}</div>
        </div>

      }

    </div>

    <div class="song-controls">

      @for (part of song.parts; track $index) {
        <button
          mat-stroked-button
          (click)="selectPart($index)"
          [class.active]="$index === currentIndex">

          {{ part.name }}

        </button>
      }

    </div>

  </div>

</div>
