<div class="preview">

  <button mat-raised-button (click)="toggleVocalistMode()" style="margin-bottom: 40px;">
    <mat-icon>
      {{ vocalistMode ? 'visibility_off' : 'visibility' }}
    </mat-icon>

    Vocalist Mode
  </button>
  <div class="song-title">{{ song.title }}</div>
  <div class="song-original-key">Original Key: {{ song.originalKey }}</div>
  @if (song.redirectUrl) {
    <a
      href="{{ song.redirectUrl }}"
      target="_blank"
      rel="noopener noreferrer"
      class="redirect-link"
    >
      The chord is not available here yet. Please go to this page to view it.
    </a>
  }
  @for (part of song.parts; track $index) {
    <div class="part-item" [attr.id]="'part-' + $index" (click)="scrollToPart($index)">

      <div class="part-card">

        <div class="part-header">
          <h3>{{ part.label() }}</h3>
        </div>

        <div class="part-body">
          <app-part-preview [part]="part" [showTitle]="false" [vocalistMode]="vocalistMode"></app-part-preview>
        </div>

      </div>

    </div>
  }

  <!-- @for (part of song.parts; track $index) {
    <app-part-preview [part]="part"></app-part-preview>
  } -->

</div>
