<div class="page">
  <div class="header">

    <h2>Song Editor</h2>

    <button
      mat-flat-button
      color="primary"
      (click)="saveSong()">

      <mat-icon>save</mat-icon>
      Save

    </button>

  </div>
  <div class="grid grid-cols-1 lg-grid-cols-4 gap-5">
    <mat-card class="">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="song.title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Artist</mat-label>
        <input matInput [(ngModel)]="song.artist">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lowest Note</mat-label>
        <input matInput [(ngModel)]="song.lowestNote">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Highest Note</mat-label>
        <input matInput [(ngModel)]="song.highestNote">
      </mat-form-field>
    </mat-card>
    <mat-card class="grid gap-3 lg-col-span-3">
      <div class="grid grid-cols-3 gap-2" style="width: 200px;">
        <button mat-raised-button (click)="song.transpose(-1)">-</button>
        <button mat-raised-button disabled="">{{song.key}}</button>
        <button mat-raised-button (click)="song.transpose(1)">+</button>
      </div>
      <div class="grid lg-grid-cols-2 gap-5">
        <mat-form-field>
          <textarea matInput [(ngModel)]="song.chord" rows="50"></textarea>
        </mat-form-field>

        <div class="preview">

          <div class="song-title">{{ song.title }}</div>

          @for (part of song.parts; track $index) {
            <div class="part">
              <div class="part-title">{{ part.label() }}</div>
              @for (line of part.lines; track $index) {
                <div class="line">
                  <div class="chord-line">{{ line.chords }}</div>
                  <div class="lyric-line">{{ line.lyric }}</div>
                </div>
              }
            </div>
          }

        </div>

      </div>
    </mat-card>
  </div>
</div>
