.editor-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

mat-form-field{
  width: 100%;
}

textarea{
  width:100%;
  font-family:monospace;
}

.song-title{
  font-size: 22px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

.preview{
  font-family:monospace;
  white-space:pre;
}

.chord-line{
  color:#ffd54f;
  font-weight:bold;
}

.line{
  margin-bottom:10px;
}

.part {
  margin-bottom: 20px;
}

.part-title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  color: #666;
}

.lyric-line {
  font-family: monospace;
}
