.editor-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

textarea{
  width:100%;
  font-family:monospace;
}

.preview{
  font-family:monospace;
  white-space:pre;
}

.chord-line{
  color:#ffd54f;
  font-weight:bold;
}

.line{
  margin-bottom:10px;
}
